* {
  font-family: 'SF Pro Text', sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: rgb(9,15,10);
  color: #d3c6aa;
}

#workspaces button {
  padding: 0 6px;
  background-color: #345d38;
  color: #dfece0;
}

#workspaces button.active {
  color: #dfece0;
  background-color: #345d38;
}

#network, #bluetooth, #custom-audio, #battery, #cpu, #memory, #custom-clipboard, #clock {
  padding: 0 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 4px;
  color: #ffffff;
}

#network {
  background-color: #345d38;
  color: #dfece0;
}

#custom-audio {
  background-color: #345d38;
  color: #dfece0;
  padding: 4px 8px;
  border-radius: 6px;
  margin: 2px 4px;
}


#bluetooth {
  background-color: #345d38;
  color: #dfece0;
}

#battery {
  background-color: #345d38;
  color: #dfece0;
}

#cpu {
  background-color: #345d38;
  color: #dfece0;
}

#memory {
  background-color: #345d38;
  color: #dfece0;
}

#custom-clipboard {
  background-color: #345d38;
  color: #dfece0;
}

#clock {
  background-color: #345d38;
  color: #dfece0;
}


